/*
 Credits: SirSuperDeath <https://github.com/SuperDeath>
 */
 .nowPlayingColumn-2sl4cE {
  position: relative;
  left: 400px ;
  opacity: 1;
  margin-left: -400px;
  transition: .7s all ease-out;}
.nowPlayingColumn-2sl4cE:hover {
  left: 0 ;
  opacity: 1;
  margin-left: 0;
  transition: .7s all ease-out;}